<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
    <style>
        @font-face {
            font-family: 'nexonBold';
            src: url('./font/NEXONLv1GothicBold.ttf');
            font-style: normal;
        }
        @font-face {
            font-family: 'nexonLight';
            src: url('./font/NEXONLv1GothicLight.ttf');
            font-style: normal;
        }
        @font-face {
            font-family: 'nexonRegular';
            src: url('./font/NEXONLv1GothicRegular.ttf');
            font-style: normal;
        }
        @font-face {
            font-family: 'logo';
            src: url('./font/BitcountGridDouble-SemiBold.ttf');
            font-style: normal;
        }
    </style>
    <!-- common.js, defer 옵션-->
    <script src="/js/common.js" defer></script>
</head>

<body>
    <div class="custom">
        <header class="header">
            <div class="topHeader">
                <div class="topList layoutCenter">
                    <ul class="topNav">
                        <li class="topNavli">
                            <a class="login" href="/user/login"><img class="imgLogin" src="/image/person.svg" alt="">로그인</a>
                        </li>
                        <li class="topNavli">
                            <a class=join href="/user/join">회원가입</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="navHeader">
                <!-- layoutCenter를 줄지 말지 풀드롭다운에 영향 미칠지 확인 -->
                <div class="detailnav layoutCenter"> 
                    <h1><a href="">LOGO</a></h1>
                    <div class="wrap">
                        <ul class="mainNav">
                            <li class="mainList">
                                <div class="listLine">
                                    <a class=mainMenu href="javascript:void(0)">빅데이터 상권 분석</a>
                                </div>
                                <ul class="subNav">
                                    <li class="subList">
                                        <a href="javascript:void(0)">맞춤형정보</a>
                                    </li>
                                    <li class="subList">
                                        <a href="javascript:void(0)">맞춤형정보2</a>
                                    </li>
                                    <li class="subList">
                                        <a href="javascript:void(0)">상권정보3</a>
                                    </li>
                                </ul>

                            </li>
                            <li class="mainList">
                                <div class="listLine">
                                    <a class=mainMenu href="javascript:void(0)">상권시장 TREND</a>
                                </div>
                                <ul class="subNav">
                                    <li class="subList">
                                        <a href="javascript:void(0)">Trend NOW</a>
                                    </li>
                                    <li class="subList">
                                        <a href="javascript:void(0)">NEWS</a>
                                    </li>
                                    <li class="subList">
                                        <a href="javascript:void(0)">Trend 3</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li class="mainList">
                                <div class="listLine">
                                    <a class=mainMenu href="javascript:void(0)">소상공인 대시보드</a>
                                </div>
                                <ul class="subNav">
                                    <li class="subList">
                                        <a href="javascript:void(0)">내 가게 경영진단</a>
                                    </li>
                                    <li class="subList">
                                        <a href="javascript:void(0)">커뮤니티</a>
                                    </li>
                                    <li class="subList">
                                        <a href="javascript:void(0)"></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mainList">
                                <div class="listLine">
                                    <a class=mainMenu href="javascript:void(0)">이용안내</a>
                                </div>
                                <ul class="subNav">
                                    <li class="subList">
                                        <a href="javascript:void(0)">공지사항</a>
                                    </li>
                                    <li class="subList">
                                        <a href="/board">게시판</a>
                                    </li>
                                    <li class="subList">
                                        <a href="javascript:void(0)">캘린더</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="mainBanner layoutCenter">
                <div class="mainSearch">
                    <div class="searchBox">
                        <div class="search">
                            <select name="langDiv" id="lang">
                                <option value="kor" data-lang="한국어">한국어</option>
                                <option value="eng" data-lang="영어">영어</option>
                                <option value="jp" data-lang="일본어">일어</option>
                            </select>
                            <input id="title" type="text" placeholder="검색어를 입력하세요." style="outline:none;">
                            <button type="button" id="searchBtn"><img src="image/search2.png" alt="">검색</button>
                        </div>
                        <div class="searchKey">
                            <ul class="keyList">
                                <li><a href="javascript:void(0)">#keyword1</a></li>
                                <li><a href="javascript:void(0)">#keyword2</a></li>
                                <li><a href="javascript:void(0)">#keyword3</a></li>
                                <li><a href="javascript:void(0)">#keyword4</a></li>
                                <li><a href="javascript:void(0)">#keyword5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mainLayout">
                    <div class="mainLeft">
                        <div class="leftList">
                            <p>핫플레이스</p>
                            <div>지역선택 select 추가</div>
                        </div>
                        <ul class="leftCategory">
                            <li><a href="javascript:void(0)"><span>동성로</span></a></li>
                            <li><a href="javascript:void(0)"><span>김광석 거리</span></a></li>
                            <li><a href="javascript:void(0)"><span>앞산 카페거리</span></a></li>
                            <li><a href="javascript:void(0)"><span>이월드</span></a></li>
                            <li><a href="javascript:void(0)"><span>서문시장</span></a></li>
                            <li><a href="javascript:void(0)"><span>수성못</span></a></li>
                            <li><a href="javascript:void(0)"><span>근대골목</span></a></li>
                            <li><a href="javascript:void(0)"><span>디아크</span></a></li>
                            
                        </ul>
                    </div>
                    <div class="mainRight">배너형식</div>
                </div>
            </div>

            <div class="subMain">
                <div class="subMain1">
                    <div class="area layoutCenter">
                        <div class="areaContent">
                            <div class="areaTitle"> 
                                <h2>대구광역시 상권 정보 check</h2>
                            </div>
                            <div class="wcl">평균매출은?</div>
                            <div class="wcr">연령대별 유동인구</div>
                        </div>
                    </div>
                </div>
                <div class="subMain2">
                    <div class="issue layoutCenter">
                        <h2>관심정보</h2>
                        <div class="issueBoxes">
                            <button class="btn">&lt;</button>
                            <div id="box">
                                <img class="img" src="./image/green1.jpg">
                                <h1>지원사업안내</h1>
                                <div class="data">
                                    <span class="date">2025-10-09</span>
                                    <span class="user-id">userId</span>
                                </div>
                                <p class="text">
                                    요악한 글 보여주기
                                </p>
                            </div>
                            <div id="box">
                                <img class="img" src="./image/green2.jpg">
                                <h1>소상공인뉴스</h1>
                                <div class="data">
                                    <span class="date">2025-10-09</span>
                                    <span class="user-id">userId</span>
                                </div>
                                <p class="text">
                                    요악한 글 보여주기
                                </p>
                            </div>
                            <div id="box">
                                <img class="img" src="./image/green3.jpg">
                                <h1>우수소상공인</h1>
                                <div class="data">
                                    <span class="date">2025-10-09</span>
                                    <span class="user-id">userId</span>
                                </div>
                                <p class="text">
                                    요악한 글 보여주기
                                </p>
                            </div>
                            <button class="btn">&gt;</button>
                        </div>
                        <div class="issueEnd">
                            무엇을 추가할까요
                        </div>
                    </div>
                </div>
                <div class="subMain3">
                    <div class="trend layoutCenter">
                        <div class="trendContent">
                            <div class="trendTitle">
                                <h2>트렌드 정보</h2>
                            </div>
                            <div class="trendBox">
                                <div class="trendGraph">인기있는 상권</div>
                                <div class="trendChart">유행하는 창업 아이템</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="subMain4 layoutCenter">
                    <div class="board">
                        <div class="boardInfo">
                            <h2 class="ibm-plex-sans-kr-regular">만족도를 공유해주세요</h2>
                            <div class="boardTable">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>John</td>
                                            <td>Doe</td>
                                            <td>@social</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <footer class="">
            <div class="mainFooter layoutCenter">
                <div class="footerLogo">
                    <h1>LOGO</h1>
                </div>
                <div class="footerInfo">
                    <div class="footerInfoL">
                        <p>대구광역시 중구 중앙대로 366</p>
                        <p>임과 함께</p>
                        <p>admin@gmail.com</p>
                        <p>053-123-4567</p>
                    </div>
                    <div class="footerInfoR">
                        <ul class="site">
                            <li><a href="javascript:void(0)">FAQ</a></li>
                            <li><a href="javascript:void(0)">사이트맵</a></li>
                        </ul>
                        <ul class="related">
                            <li><a href="javascript:void(0)">관련기관정보</a></li>
                        </ul>
                        <ul class="personInfo">
                            <li><a href="javascript:void(0)">개인정보처리방침</a></li>
                            <li><a href="javascript:void(0)">이용약관</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>