@font-face {
            font-family: 'nexonBold';
            src: url('./font/NEXONLv1GothicBold.ttf');
            font-style: normal;
        }
        @font-face {
            font-family: 'nexonLight';
            src: url('./font/NEXONLv1GothicLight.ttf');
            font-style: normal;
        }
        @font-face {
            font-family: 'nexonRegular';
            src: url('./font/NEXONLv1GothicRegular.ttf');
            font-style: normal;
        }
        @font-face {
            font-family: 'logo';
            src: url('./font/BitcountGridDouble-SemiBold.ttf');
            font-style: normal;
        }
* {
    box-sizing: border-box;
}
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus{
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.layoutCenter{
    width:1600px;
    margin:0 auto;
}

.custom>.header{
    height:145px;
    /* border-bottom: 3px solid #3A6B71; */
    box-shadow: 0 4px 3px #bbb;
    background-color: white;
    /* position:sticky;  */
    top: 0;
    left:0;
    width:100vw;
    /* border:1px solid; */
    z-index: 1000;
    /* 맨 위에 붙어있게 하기 위해 top, left 0 필수 */
 }

 /* 로그인, 회원가입 -> topHeader */
.custom>.header>.topHeader{
    /* width:1444px; */
    height:45px; 
    /* 66px / 80px */
    padding:15px 0;
 }
.custom>.header>.topHeader>.topList>.topNav{
    display:flex;
    justify-content: flex-end;
    width:250px;
    margin-left:auto;
    /* border:1px solid;  */
}
.custom>.header>.topHeader>.topList>.topNav>.topNavli a{
    font-family:'nexonRegular';
    transition: color 0.3s ease;
    /* border:1px solid; */
    margin:20px 10px;
    font-size:20px;
}

/* logo, 메뉴바 -> navHeader */
.custom .navHeader{
   
}

.custom .navHeader>.detailnav {
    display: flex;
    position:relative;
    height:101px;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    
}
.custom .navHeader>.detailnav>h1{
    font-style:#3A6B71;
}
.custom .navHeader>.detailnav>h1>a{
    font-family:'logo';
    color:#3A6B71;
    font-size:60px;
}

.custom .navHeader>.detailnav>.wrap{
    display:flex;
    position: absolute;
    /* width: calc(100% - 600px); */
    left: 300px;
    /* border:1px solid; */
}

.custom .navHeader>.detailnav>.wrap>.mainNav {
    display: flex;
    justify-content: space-evenly;
    /* border:1px solid; */
}

.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList {
    /* border:1px solid; */
    margin:0 20px;
    position: relative; 
    text-align:center;
    width: 250px;
    height:105px;
}

.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList>.listLine{
    /* border:1px solid; */
    margin:0 20px;
    line-height: 105px;
    font-size: 22px;
    font-family:'nexonBold';
}

.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList>.listLine::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s transform ease;
  transform: scaleX(0); 
  transform-origin: left;
  background: #3A6B71;
}
.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList>.listLine:hover::before{
  transform: scaleX(1);
}
.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList>.listLine:hover>.mainMenu{
    color:#3A6B71;
    font-weight: bold;
}

/* mainNav 호버하면 전체 서브메뉴 나옴 */
.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList:hover .subNav {
    display: block;
}

.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList:nth-child(1){
    /* margin-left:30px; */
}

.navHeader>.detailnav>.wrap>.mainNav>.mainList>.subNav {
    width:100%;
    height:200px;
    position: absolute;
    top: 100%;
    /* top:100px 원래 코드 */
    left: 0;
    background-color: white;
    /* opacity:0; */
    display: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 1001;
}
.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList>.subNav>.subList{
    /* border:1px solid; */
    height:60px;
}
.custom .navHeader>.detailnav>.wrap>.mainNav>.mainList>.subNav>.subList>a{
    display:flex;
    height: 100%; 
    align-items: center;
    padding:0 20px;
    /* line-height:60px; */
    justify-content: center;
    font-family:"nexonLight";
}



.custom .navHeader>.detailnav>.wrap>.mainSideNav>.mainList>.login{
    line-height: 100px;
}
.custom .navHeader>.detailnav>.wrap>.mainSideNav>.mainList>.login>.imgLogin{
    margin-right:5px;
    height:21px;
}
.custom .navHeader>.detailnav>.wrap>.mainSideNav>.mainList>.join{
    line-height: 100px;
}



/* footer */
.custom>footer{
    background-color:rgba(0,0,0,0.1);
    /* #3a6b7113 */
    height:240px;
}
.custom .mainFooter{
    /* border:1px solid; */
    padding-top: 20px;
    /* 여기서 마진 잡으면 X */
}
.custom .mainFooter>.footerLogo>h1{
    margin:20px 30px;
    font-family:'logo';
}
.custom .mainFooter>.footerInfo{
    display:flex;
}
.custom .mainFooter>.footerInfo>.footerInfoL{
    margin-left:30px;
}
.custom .mainFooter>.footerInfo>.footerInfoL>p{
    width:700px;
    padding:0;
    margin:0 90px 0 0;
   
}
.custom .mainFooter>.footerInfo>.footerInfoR{
    width:500px;
    display:flex;
}
.custom .mainFooter>.footerInfo>.footerInfoR>.site{
    border-right:1px solid lightgray;
    width:120px;
}
.custom .mainFooter>.footerInfo>.footerInfoR>.site a{
    padding:10px;
}
.custom .mainFooter>.footerInfo>.footerInfoR li{
    margin:10px;
}
.custom .mainFooter>.footerInfo>.footerInfoR a{
    /* margin:0px; */
}
.custom .mainFooter>.footerInfo>.footerInfoR>.related{
    border-right:1px solid lightgray;
    width:140px;
}
.custom .mainFooter>.footerInfo>.footerInfoR>.related a{
    padding:10px;
}


.custom .mainFooter>.footerInfo>.footerInfoR>.personInfo{
    width:210px;
}
.custom .mainFooter>.footerInfo>.footerInfoR>.personInfo a{
    padding:10px;
}

/* footer font */
.custom .mainFooter>.footerInfo p{
    font-family:"nexonRegular";
}

.custom .mainFooter>.footerInfo a{
    font-family:"nexonRegular";
}

@media screen and (max-width: 1500px) {
    .detailnav {
        width: 98%;
        padding: 0 1%;
    }
}