<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->

<!--    <link rel="stylesheet" href="@{/css/common.css}">-->
<!--    <link rel="stylesheet" href="@{/css/writeBoard.css}">-->

<!--    &lt;!&ndash; 부트스트랩 css &ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">-->

<!--    &lt;!&ndash; ckEditor css &ndash;&gt;-->
<!--    <link rel="stylesheet" href="@{/css/ckEditorStyle.css}">-->
<!--    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/47.1.0/ckeditor5.css" crossorigin>-->



<!--&lt;!&ndash;    <style>&ndash;&gt;-->
<!--&lt;!&ndash;        @font-face {&ndash;&gt;-->
<!--&lt;!&ndash;            font-family: 'nexonBold';&ndash;&gt;-->
<!--&lt;!&ndash;            src: url('/font/NEXONLv1GothicBold.ttf');&ndash;&gt;-->
<!--&lt;!&ndash;            font-style: normal;&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--A-->
<!--&lt;!&ndash;            font-family: 'nexonLight';&ndash;&gt;-->
<!--&lt;!&ndash;            src: url('/font/NEXONLv1GothicLight.ttf');&ndash;&gt;-->
<!--&lt;!&ndash;            font-style: normal;&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        @font-face {&ndash;&gt;-->
<!--&lt;!&ndash;            font-family: 'nexonRegular';&ndash;&gt;-->
<!--&lt;!&ndash;            src: url('/font/NEXONLv1GothicRegular.ttf');&ndash;&gt;-->
<!--&lt;!&ndash;            font-style: normal;&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        @font-face {&ndash;&gt;-->
<!--&lt;!&ndash;            font-family: 'logo';&ndash;&gt;-->
<!--&lt;!&ndash;            src: url('/font/BitcountGridDouble-SemiBold.ttf');&ndash;&gt;-->
<!--&lt;!&ndash;            font-style: normal;&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;    </style>&ndash;&gt;-->


<!--</head>-->

<!--<body>-->
<!--<div class="custom">-->
<!--    <header class="header">-->
<!--        <div class="topHeader">-->
<!--            <div class="topList layoutCenter">-->
<!--                <ul class="topNav">-->
<!--                    <li class="topNavli">-->
<!--                        <a class="login" href="/user/login"><img class="imgLogin" src="@{/image/person.svg}" alt="">로그인</a>-->
<!--                    </li>-->
<!--                    <li class="topNavli">-->
<!--                        <a class=join href="/user/join">회원가입</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="navHeader">-->
<!--            &lt;!&ndash; layoutCenter를 줄지 말지 풀드롭다운에 영향 미칠지 확인 &ndash;&gt;-->
<!--            <div class="detailnav layoutCenter">-->
<!--                <h1><a href="/main">LOGO</a></h1>-->
<!--                <div class="wrap">-->
<!--                    <ul class="mainNav">-->
<!--                        <li class="mainList">-->
<!--                            <div class="listLine">-->
<!--                                <a class=mainMenu href="javascript:void(0)">빅데이터 상권 분석</a>-->
<!--                            </div>-->
<!--                            <ul class="subNav">-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)">맞춤형정보</a>-->
<!--                                </li>-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)">맞춤형정보2</a>-->
<!--                                </li>-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)">상권정보3</a>-->
<!--                                </li>-->
<!--                            </ul>-->

<!--                        </li>-->
<!--                        <li class="mainList">-->
<!--                            <div class="listLine">-->
<!--                                <a class=mainMenu href="javascript:void(0)">상권시장 TREND</a>-->
<!--                            </div>-->
<!--                            <ul class="subNav">-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)">Trend NOW</a>-->
<!--                                </li>-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)">NEWS</a>-->
<!--                                </li>-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)">Trend 3</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->

<!--                        <li class="mainList">-->
<!--                            <div class="listLine">-->
<!--                                <a class=mainMenu href="javascript:void(0)">소상공인 대시보드</a>-->
<!--                            </div>-->
<!--                            <ul class="subNav">-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)">내 가게 경영진단</a>-->
<!--                                </li>-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)">커뮤니티</a>-->
<!--                                </li>-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)"></a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="mainList">-->
<!--                            <div class="listLine">-->
<!--                                <a class=mainMenu href="javascript:void(0)">이용안내</a>-->
<!--                            </div>-->
<!--                            <ul class="subNav">-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)">공지사항</a>-->
<!--                                </li>-->
<!--                                <li class="subList">-->
<!--                                    <a href="/board/paging">게시판</a>-->
<!--                                </li>-->
<!--                                <li class="subList">-->
<!--                                    <a href="javascript:void(0)">캘린더</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->


<!--    &lt;!&ndash; 게시글 작성 공간 &ndash;&gt;-->
<!--    <main>-->
<!--        <div class="layoutCenter">-->

<!--            &lt;!&ndash; 문의사항 ?, 별 아이콘 ..... &ndash;&gt;-->
<!--            <div class="sub-title">-->
<!--                &lt;!&ndash; 문의사항, 아이콘 &ndash;&gt;-->
<!--                <div class="inquiry">-->
<!--                    <h3>문의사항</h3>-->
<!--                    <div class="question-mark-container">-->
<!--                        <div class="question-mark"><i class="fa-solid fa-question fa-lg"></i></div>-->
<!--                        <div class="question-mark-hidden">문의사항</div>-->
<!--                    </div>-->
<!--                    <div class="question-mark-container">-->
<!--                        <div class="question-mark"><i class="fa-solid fa-star fa-lg"></i></div>-->
<!--                        <div class="question-mark-hidden">즐겨찾기 추가</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; 경로 &ndash;&gt;-->
<!--                <div class="path">-->
<!--                    <div><i class="fa-solid fa-house"></i></div>-->
<!--                    <div>이용안내</div>-->
<!--                    <div><i class="fa-solid fa-chevron-right"></i></div>-->
<!--                    <div>공지사항</div>-->
<!--                    <div><i class="fa-solid fa-chevron-right"></i></div>-->
<!--                    <a class="inquiry-right-side" href="/board/paging">게시판</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; 글 적는곳 &ndash;&gt;-->
<!--            <div class="write-space">-->
<!--                <form action="/board/writeBoard" method="post" enctype="multipart/form-data">-->

<!--                    &lt;!&ndash; 제목 부분 &ndash;&gt;-->
<!--                    <div class="label-and-writeArea">-->
<!--                        <div class="label-area">-->
<!--                            <div>제목</div>-->
<!--                            <div><i style="color: #3A6B71;" class="fa-solid fa-star-of-life fa-2xs"></i></div>-->
<!--                        </div>-->
<!--                        <div class="write-area">-->
<!--                            <input class="write-input" type="text" name="boardTitle">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; 점선 &ndash;&gt;-->
<!--                    <div class="line-dotted"></div>-->

<!--                    &lt;!&ndash; 글쓴이 부분 &ndash;&gt;-->
<!--                    <div class="label-and-writeArea">-->
<!--                        <div class="label-area">-->
<!--                            <div>글쓴이</div>-->
<!--                            <div><i style="color: #3A6B71;" class="fa-solid fa-star-of-life fa-2xs"></i></div>-->
<!--                        </div>-->
<!--                        <div class="write-area">-->
<!--                            <input class="write-input" type="text" name="boardWriter">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; 점선 &ndash;&gt;-->
<!--                    <div class="line-dotted"></div>-->

<!--                    &lt;!&ndash; 비밀번호 부분 &ndash;&gt;-->
<!--                    <div class="label-and-writeArea">-->
<!--                        <div class="label-area">-->
<!--                            <div>비밀번호</div>-->
<!--                            <div><i style="color: #3A6B71;" class="fa-solid fa-star-of-life fa-2xs"></i></div>-->
<!--                        </div>-->
<!--                        <div class="write-area">-->
<!--                            <input class="write-input" type="text" name="boardPass">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; 점선 &ndash;&gt;-->
<!--                    <div class="line-dotted"></div>-->


<!--                    &lt;!&ndash; 내용 부분 &ndash;&gt;-->
<!--                    <div class="label-and-writeArea">-->
<!--                        <div class="label-area content-label">-->
<!--                            <div>내용</div>-->
<!--                            <div><i style="color: #3A6B71;" class="fa-solid fa-star-of-life fa-2xs"></i></div>-->
<!--                        </div>-->
<!--                        <div class="write-area content-area">-->
<!--                            <div class="main-container">-->
<!--                                <div class="editor-container editor-container_classic-editor" id="editor-container">-->
<!--                                    <div class="editor-container__editor">-->
<!--                                        <textarea class = "editor" name="boardContents" id="editor"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    &lt;!&ndash; 점선 &ndash;&gt;-->
<!--                    <div class="line-dotted"></div>-->

<!--                    &lt;!&ndash; 첨부파일 &ndash;&gt;-->
<!--                    <div class="label-and-writeArea">-->
<!--                        <div class="label-area">-->
<!--                            <div>첨부파일</div>-->
<!--                            <div><i style="color: #3A6B71;" class="fa-solid fa-star-of-life fa-2xs"></i></div>-->
<!--                        </div>-->
<!--                        <div class="write-area">-->
<!--                            <div class = "file-upload-info">-->
<!--                                <div class = "file-upload-info-left">-->
<!--                                    <div>용량 제한 : 6.0MB, 객수 제한 : 5개</div>-->
<!--                                    <div>파일 형식 : xlsx, pptx, txt, pdf, jpg, jpeg, png, hwp</div>-->
<!--                                </div>-->
<!--                                <input class="file-upload-btn" type="file" id="fileUpload" name = "fileUpload" multiple>-->
<!--                                <label class = "upload-btn" for="fileUpload">-->
<!--                                    <i class="fa-solid fa-upload"></i>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class = "upload" id = "upload">-->
<!--                                <p>파일을 드래그하여 첨부할 수 있습니다</p>-->

<!--                                &lt;!&ndash; <div class = "preview-container">-->
<!--                                    <div class = "preview-box">-->
<!--                                        <div>-->
<!--                                            <div class = "file-name">sample.txt</div>-->
<!--                                            <div class = "file-size">1mb</div>-->
<!--                                        </div>-->
<!--                                        <button class="delete-btn"><i class="fa-solid fa-trash fa-lg"></i></button>-->
<!--                                    </div>-->

<!--                                    <div class="line-dotted-preview"></div>-->

<!--                                    <div class = "preview-box">-->
<!--                                        <div>-->
<!--                                            <div class = "file-name">sample.txt</div>-->
<!--                                            <div class = "file-size">1mb</div>-->
<!--                                        </div>-->
<!--                                        <button class="delete-btn"><i class="fa-solid fa-trash fa-lg"></i></button>-->
<!--                                    </div>-->

<!--                                    <div class="line-dotted-preview"></div>-->

<!--                                    <div class = "preview-box">-->
<!--                                        <div>-->
<!--                                            <div class = "file-name">sample.txt</div>-->
<!--                                            <div class = "file-size">1mb</div>-->
<!--                                        </div>-->
<!--                                        <button class="delete-btn"><i class="fa-solid fa-trash fa-lg"></i></button>-->
<!--                                    </div> &ndash;&gt;-->


<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->


<!--            &lt;!&ndash; 점선 &ndash;&gt;-->
<!--            <div class="under-line-dotted line-dotted"></div>-->

<!--            &lt;!&ndash; 제출 버튼 있는 줄 &ndash;&gt;-->
<!--            <div class = "submit-btn-group">-->

<!--                <button style = "border-color: #3A6B71; color: #335f64;" type="submit" class="btn btn-outline-success btn-lg">제출</button>-->

<!--                <input class = "submit-btn" type="submit" id = "submitBtn">-->
<!--                <label for="submitBtn">-->
<!--                    <button style = "border-color: #3A6B71; color: #335f64;" type="button" class="btn btn-outline-success btn-lg"><a href="/board/paging">목록</a></button>-->
<!--                </label>-->
<!--            </div>-->


<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->



<!--<footer class="">-->
<!--    <div class="mainFooter layoutCenter">-->
<!--        <div class="footerLogo">-->
<!--            <h1>LOGO</h1>-->
<!--        </div>-->
<!--        <div class="footerInfo">-->
<!--            <div class="footerInfoL">-->
<!--                <p>대구광역시 중구 중앙대로 366</p>-->
<!--                <p>임과 함께</p>-->
<!--                <p>admin@gmail.com</p>-->
<!--                <p>053-123-4567</p>-->
<!--            </div>-->
<!--            <div class="footerInfoR">-->
<!--                <ul class="site">-->
<!--                    <li><a href="javascript:void(0)">FAQ</a></li>-->
<!--                    <li><a href="javascript:void(0)">사이트맵</a></li>-->
<!--                </ul>-->
<!--                <ul class="related">-->
<!--                    <li><a href="javascript:void(0)">관련기관정보</a></li>-->
<!--                </ul>-->
<!--                <ul class="personInfo">-->
<!--                    <li><a href="javascript:void(0)">개인정보처리방침</a></li>-->
<!--                    <li><a href="javascript:void(0)">이용약관</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--</div>-->







<!--&lt;!&ndash; BootStrap js &ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">-->
<!--</script>-->

<!--&lt;!&ndash; fontawesome js &ndash;&gt;-->
<!--<script src="https://kit.fontawesome.com/f99de3d7af.js" crossorigin="anonymous"></script>-->

<!--&lt;!&ndash; 내가 만든 JS &ndash;&gt;-->
<!--<script src="@{/js/writeBoard.js}"></script>-->


<!--&lt;!&ndash; ckEditor &ndash;&gt;-->
<!--&lt;!&ndash; <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script> &ndash;&gt;-->
<!--<script src="https://cdn.ckeditor.com/ckeditor5/47.1.0/ckeditor5.umd.js" crossorigin></script>-->
<!--<script src="https://cdn.ckeditor.com/ckeditor5/47.1.0/translations/ko.umd.js" crossorigin></script>-->
<!--<script src="https://cdn.ckbox.io/ckbox/2.6.1/ckbox.js" crossorigin></script>-->
<!--<script src="@{/js/ckEditor.js}"></script>-->



<!--</body>-->

<!--</html>-->